<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>即可云网盘</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta content="Metronic Shop UI description" name="description">
  <meta content="Metronic Shop UI keywords" name="keywords">
  <meta content="keenthemes" name="author">

  <meta property="og:site_name" content="-CUSTOMER VALUE-">
  <meta property="og:title" content="-CUSTOMER VALUE-">
  <meta property="og:description" content="-CUSTOMER VALUE-">
  <meta property="og:type" content="website">
  <meta property="og:image" content="-CUSTOMER VALUE-"><!-- link to image for socio -->
  <meta property="og:url" content="-CUSTOMER VALUE-">

  <link rel="shortcut icon" href="favicon.ico">

  <!-- 字体开始 -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
  <!-- 字体结束 -->

  <!-- 风格开始 -->          
  <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- 风格结束 --> 
   
  <!-- 页面级别的插件风格开始 -->
  <link href="../../assets/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
  <link href="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="../../assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">
  <!-- 页面级别的插件风格结束 -->

  <!-- 主题风格开始 -->
  <link href="../../assets/global/css/components.css" rel="stylesheet">
  <link href="../../assets/frontend/layout/css/style.css" rel="stylesheet">
  <link href="../../assets/frontend/pages/css/style-revolution-slider.css" rel="stylesheet"><!-- metronic revo slider styles -->
  <link href="../../assets/frontend/layout/css/style-responsive.css" rel="stylesheet">
  <link href="../../assets/frontend/layout/css/themes/green.css" rel="stylesheet" id="style-color">
  <link href="../../assets/frontend/layout/css/custom.css" rel="stylesheet">
  <!-- 主题风格结束 -->
</head>

<!-- 内容开始-->
<body class="corporate">
    <!-- 开始样式编辑器 -->
   <!-- <div class="color-panel hidden-sm">
      <div class="color-mode-icons icon-color"></div>
      <div class="color-mode-icons icon-color-close"></div>
      <div class="color-mode">
        <p>THEME COLOR</p>
        <ul class="inline">
          <li class="color-red current color-default" data-style="red"></li>
          <li class="color-blue" data-style="blue"></li>
          <li class="color-green" data-style="green"></li>
          <li class="color-orange" data-style="orange"></li>
          <li class="color-gray" data-style="gray"></li>
          <li class="color-turquoise" data-style="turquoise"></li>
        </ul>
      </div>
    </div> -->
    <!-- 结束开始样式编辑器 --> 

    <!-- 头顶 -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <!-- 电话 邮箱-->
                <div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline">
                        <li><i class="fa fa-phone"></i><span>+1 456 6717</span></li>
                        <li><i class="fa fa-envelope-o"></i><span>info@keenthemes.com</span></li>
                    </ul>
                </div>
                <!-- 结束  -->
                <!-- 头顶 登录注册 -->
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right">
                        <li><a href="login.html">登录</a></li>
                        <li><a href="login.html">注册</a></li>
                    </ul>
                </div>
                <!-- 登录注册 结束-->
            </div>
        </div>        
    </div>
    <!-- 头顶结束 -->
    <!-- 开始头 -->
    <div class="header">
      <div class="container">
        <a class="site-logo" href="index.html"><img src="../img/logo.png" style="width: 180px;" alt="Metronic FrontEnd"></a>
		<!-- 自适应-导航栏弹出按钮 -->
        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- 开始导航 -->
        <div class="header-navigation pull-right font-transform-inherit">
          <ul>
            <li class="dropdown">
              <a href="index.html">即可云</a>
			</li>
            <li class="dropdown">
				<a class="dropdown-toggle"  href="cloudIntroduce.html">
					网盘介绍
				</a>
            </li>
            <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
					官方公告
				</a>
            </li>
            <li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
				高级会员
				</a>
            </li>
			<!-- 开始搜索 -->
			<li class="menu-search">
				<span class="sep"></span>
				<i class="fa fa-search search-btn"></i>
				<div class="search-box">
					<form action="#">
						<div class="input-group">
							<input type="text" placeholder="输入搜索内容" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">搜索</button>
							</span>
						</div>
					</form>
				</div> 
			</li>
            <!--结束搜索 -->
          </ul>
        </div>
        <!--结束导航-->
      </div>
    </div>
    <!-- 头端 结束 -->

	<!-- 开始轮播图 -->
	<div class="page-slider margin-bottom-40">
		<div class="fullwidthbanner-container revolution-slider">
			<div class="fullwidthabnner">
				<ul id="revolutionul">
					<!-- 新幻灯片 -->
					<li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<!-- 第一张幻灯片 -->
						<img src="../../assets/frontend/pages/img/revolutionslider/bg9.jpg" alt="">
						<div class="caption lft slide_title_white slide_item_left"
							data-x="30"
							data-y="90"
							data-speed="400"
							data-start="1500"
							data-easing="easeOutExpo">
							<br><span class="slide_title_white_bold">即&nbsp;&nbsp;可&nbsp;&nbsp;云&nbsp;&nbsp;网&nbsp;&nbsp;盘</span>
						</div>
						<div class="caption lft slide_subtitle_white slide_item_left"
							data-x="127"
							data-y="245"
							data-speed="400"
							data-start="2000"
							data-easing="easeOutExpo">
							智&nbsp;&nbsp;能&nbsp;&nbsp;云&nbsp;&nbsp;盘
						</div>
						<a class="caption lft btn dark slide_btn slide_item_left" href="#"
							data-x="147"
							data-y="315"
							data-speed="400"
							data-start="3000"
							data-easing="easeOutExpo">
							了解更多
						</a>                        
						<div class="caption lfb" id="denglu">
							<!-- 样式在green.css 393行 -->
							<div class="denlubox">
								<!-- 开始 登录 -->
								<form class="login-form" action="index.html" method="post">
									<h3 class="form-title">登录</h3>
									<div class="form-group">
										<label class="control-label visible-ie8 visible-ie9">账号</label>
										<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="账号" name="username"/>
									</div>
									<div class="form-group">
										<label class="control-label visible-ie8 visible-ie9">密码</label>
										<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password"/>
									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-success uppercase">登录</button>
										<label class="rememberme check">
										<input type="checkbox" name="remember" value="1"/>记住密码 </label>
										<a href="#" id="forget-password" class="forget-password">忘记密码？</a>
									</div>
								</form>
								<!-- 结束 登录 -->
							</div>
						</div>
					</li>    
					<!--第一张幻灯片-->
					<li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<img src="../../assets/frontend/pages/img/revolutionslider/bg1.jpg" alt="">
						<div class="caption lft slide_title slide_item_left"
							data-x="30"
							data-y="105"
							data-speed="400"
							data-start="1500"
							data-easing="easeOutExpo">
							适合软件，杂志，视频
						</div>
						<div class="caption lft slide_subtitle slide_item_left"
							data-x="30"
							data-y="180"
							data-speed="400"
							data-start="2000"
							data-easing="easeOutExpo">
						音乐或其他以生产内容为主的网站等机构
						</div>
						<div class="caption lft slide_desc slide_item_left"
							data-x="30"
							data-y="220"
							data-speed="400"
							data-start="2500"
							data-easing="easeOutExpo">
							Lorem ipsum dolor sit amet, dolore eiusmod<br> quis tempor incididunt. Sed unde omnis iste.
						</div>
						<a class="caption lft btn green slide_btn slide_item_left" href="#"
							data-x="30"
							data-y="290"
							data-speed="400"
							data-start="3000"
							data-easing="easeOutExpo">
							了解更多
						</a>                        
						<div class="caption lfb"
							data-x="740"
							data-y="100"
							data-speed="700"
							data-start="1000"
							data-easing="easeOutExpo">
							<!-- <img src="../../assets/frontend/pages/img/revolutionslider/lady.png" alt="Image 1"> -->
							<div class="denlubox">
								<!-- 开始 登录 -->
								<form class="login-form" action="index.html" method="post">
									<h3 class="form-title">登录</h3>
									<div class="form-group">
										<label class="control-label visible-ie8 visible-ie9">账号</label>
										<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="账号" name="username"/>
									</div>
									<div class="form-group">
										<label class="control-label visible-ie8 visible-ie9">密码</label>
										<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password"/>
									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-success uppercase">登录</button>
										<label class="rememberme check">
										<input type="checkbox" name="remember" value="1"/>记住密码 </label>
										<a href="#" id="forget-password" class="forget-password">忘记密码？</a>
									</div>
								</form>
								<!-- 结束 登录 -->
							</div>
						</div>
					</li>
					<!-- 第二张幻灯片-->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">                        
				<img src="../../assets/frontend/pages/img/revolutionslider/bg2.jpg" alt="">
				<div class="caption lfl slide_title slide_item_left"
				data-x="30"
				data-y="125"
				data-speed="400"
				data-start="3500"
				data-easing="easeOutExpo">
				适合垂直领域专家、软件开发者
				</div>
				<div class="caption lfl slide_subtitle slide_item_left"
				data-x="30"
				data-y="200"
				data-speed="400"
				data-start="4000"
				data-easing="easeOutExpo">
				网盘爱好者及有云端储蓄需要的私人申请。
				</div>
				<div class="caption lfl slide_desc slide_item_left"
				data-x="30"
				data-y="245"
				data-speed="400"
				data-start="4500"
				data-easing="easeOutExpo">
				Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
				</div>                        
					<div class="caption lfb"
						data-x="740" 
						data-y="100" 
						data-speed="700" 
						data-start="1000" 
						data-easing="easeOutExpo">
						<div class="denlubox">
							<!-- 开始 登录 -->
							<form class="login-form" action="index.html" method="post">
								<h3 class="form-title">登录</h3>
								<div class="form-group">
									<label class="control-label visible-ie8 visible-ie9">账号</label>
									<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="账号" name="username"/>
								</div>
								<div class="form-group">
									<label class="control-label visible-ie8 visible-ie9">密码</label>
									<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password"/>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-success uppercase">登录</button>
									<label class="rememberme check">
									<input type="checkbox" name="remember" value="1"/>记住密码 </label>
									<a href="#" id="forget-password" class="forget-password">忘记密码？</a>
								</div>
							</form>
							<!-- 结束 登录 -->
						</div>
					</div>
				</li>
					<!-- 第三张幻灯片 -->
					<li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<img src="../../assets/frontend/pages/img/revolutionslider/bg3.jpg" alt="">
						<div class="caption lfb"
							data-x="40" 
							data-y="100" 
							data-speed="700" 
							data-start="1000" 
							data-easing="easeOutExpo" >
							<div class="denlubox">
								<!-- 开始 登录 -->
								<form class="login-form" action="index.html" method="post">
									<h3 class="form-title">登录</h3>
									<div class="form-group">
										<label class="control-label visible-ie8 visible-ie9">账号</label>
										<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="账号" name="username"/>
									</div>
									<div class="form-group">
										<label class="control-label visible-ie8 visible-ie9">密码</label>
										<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password"/>
									</div>
									<div class="form-actions">
										<button type="submit" class="btn btn-success uppercase">登录</button>
										<label class="rememberme check">
										<input type="checkbox" name="remember" value="1"/>记住密码 </label>
										<a href="#" id="forget-password" class="forget-password">忘记密码？</a>
									</div>
								</form>
								<!-- 结束 登录 -->
							</div>
						</div>
						<div class="caption lfr slide_title"
							data-x="470"
							data-y="100"
							data-speed="400"
							data-start="2000"
							data-easing="easeOutExpo">
							国内外、各级、各类政府机构、
						</div>
						<div class="caption lfr slide_subtitle"
							data-x="470"
							data-y="170"
							data-speed="400"
							data-start="2500"
							data-easing="easeOutExpo">
							事业单位、具有行政职能的社会组织等
						</div>
						<div class="caption lfr slide_desc"
							data-x="470"
							data-y="220"
							data-speed="400"
							data-start="3000"
							data-easing="easeOutExpo">
							Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
						</div>
						<a class="caption lfr btn yellow slide_btn" href=""
							data-x="470"
							data-y="280"
							data-speed="400"
							data-start="3500"
							data-easing="easeOutExpo">
							Watch more Videos!
						</a>
					</li>
					<li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="../../assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
						<img src="../../assets/frontend/pages/img/revolutionslider/bg4.jpg" alt="">                        
						<div class="caption lft slide_title"
							data-x="30"
							data-y="105"
							data-speed="400"
							data-start="1500"
							data-easing="easeOutExpo">
							包括什么?
						</div>
						<div class="caption lft slide_subtitle"
							data-x="30"
							data-y="180"
							data-speed="400"
							data-start="2000"
							data-easing="easeOutExpo">
							最完整的管理主题
						</div>
						<div class="caption lft slide_desc"
							data-x="30"
							data-y="225"
							data-speed="400"
							data-start="2500"
							data-easing="easeOutExpo">
							Lorem ipsum dolor sit amet, consectetuer elit sed diam<br> nonummy amet euismod dolore.
						</div>
						<a class="caption lft slide_btn btn red slide_item_left" href="http://www.keenthemes.com/preview/index.php?theme=metronic_admin" target="_blank" 
							data-x="30"
							data-y="300"
							data-speed="400"
							data-start="3000"
							data-easing="easeOutExpo">
							了解更多
						</a>                        
						<div class="caption lfb"
							data-x="740" 
							data-y="100" 
							data-speed="700" 
							data-start="1000" 
							data-easing="easeOutExpo">
						<div class="denlubox">
							<!-- 开始 登录 -->
							<form class="login-form" action="index.html" method="post">
								<h3 class="form-title">登录</h3>
								<div class="form-group">
									<label class="control-label visible-ie8 visible-ie9">账号</label>
									<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="账号" name="username"/>
								</div>
								<div class="form-group">
									<label class="control-label visible-ie8 visible-ie9">密码</label>
									<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="密码" name="password"/>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn btn-success uppercase">登录</button>
									<label class="rememberme check">
									<input type="checkbox" name="remember" value="1"/>记住密码 </label>
									<a href="#" id="forget-password" class="forget-password">忘记密码？</a>
								</div>
							</form>
							<!-- 结束 登录 -->
						</div>
						</div>                     
					</li>
				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
	</div>
	<!-- END SLIDER -->

    <div class="main">
      <div class="container">
        <!-- 开始服务框 -->   
        <div class="row service-box margin-bottom-40">
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa  fa-hdd-o blue"></i></em>
              <span>尊享超大存储空间</span>
            </div>
            <p>免费用户可尊享400GB续期空间，升级为VIP会员后，可最高获得50TB存储空间。</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa fa-joomla red"></i></em>
              <span>尊享强大网盘功能</span>
            </div>
            <p>集文件直连、离线下载、webdav、分成、超大空间、文件转存、打包文件、在线解压加密压缩包等强大功能。</p>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="service-box-heading">
              <em><i class="fa  fa-comments-o green"></i></em>
              <span>尊享优质客户服务</span>
            </div>
            <p>400客服热线，在线客服、QQ客服，7x24小时为您提供优质服务。</p>
          </div>
        </div>
        <!-- 结束服务框-->

        <!-- 开始引用块 -->   
        <div class="row quote-v1 margin-bottom-30">
          <div class="col-md-9">
            <span>Metronic——最完整</span>
          </div>
          <div class="col-md-3 text-right">
            <a class="btn-transparent" href="#" target="_blank"><i class="fa fa-rocket margin-right-10"></i>预览管理</a>
          </div>
        </div>
        <!-- 结束 引用块 -->

        <!-- BEGIN RECENT WORKS -->
        <div class="row recent-work margin-bottom-40">
          <!-- TESTIMONIALS -->
		  <div class="col-md-4 front-carousel">
		    <div class="carousel-inner">
		      <div class="item active">
		        <img src="../../assets/frontend/pages/img/pics/img2-medium.jpg" alt="">
		        <div class="carousel-caption">
		          <p>超级网盘</p>
		        </div>
		      </div>
		    </div>              
		  </div>
		  
          <div class="col-md-8 testimonials-v1">
            <div id="myCarousel1" class="carousel slide">
              <!-- 留言 -->
              <div class="carousel-inner">
                <div class="active item">
                  <blockquote><p>123123</p></blockquote>
                  <div class="carousel-info">
                    <img class="pull-left" src="../../assets/frontend/pages/img/people/img1-small.jpg" alt="">
                    <div class="pull-left">
                      <span class="testimonials-name">莉娜火星</span>
                      <span class="testimonials-post">商务总监</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <blockquote><p>阿发是否</p></blockquote>
                  <div class="carousel-info">
                    <img class="pull-left" src="../../assets/frontend/pages/img/people/img5-small.jpg" alt="">
                    <div class="pull-left">
                      <span class="testimonials-name">凯特·福特</span>
                      <span class="testimonials-post">商务总监</span>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <blockquote><p>广大师生</p></blockquote>
                  <div class="carousel-info">
                    <img class="pull-left" src="../../assets/frontend/pages/img/people/img2-small.jpg" alt="">
                    <div class="pull-left">
                      <span class="testimonials-name">杰克Witson</span>
                      <span class="testimonials-post">商务总监</span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Carousel nav -->
              <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
              <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
            </div>
          </div>
          <!-- END TESTIMONIALS -->
		</div>   
        <!-- END RECENT WORKS -->

        <!-- 开始标签和奖状 -->
        <div class="row mix-block margin-bottom-40">
          <!-- 选项卡 -->
          <div class="col-md-12 tab-style-1">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab-1" data-toggle="tab">多用途</a></li>
              <li><a href="#tab-2" data-toggle="tab">记录</a></li>
              <li><a href="#tab-3" data-toggle="tab">响应</a></li>
              <li><a href="#tab-4" data-toggle="tab">清洁 & 新鲜的</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane row fade in active" id="tab-1">
                <div class="col-md-3 col-sm-3">
                  <a href="assets/temp/photos/img7.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                    <img class="img-responsive" src="../../assets/frontend/pages/img/photos/img7.jpg" alt="">
                  </a>
                </div>
                <div class="col-md-9 col-sm-9">
                  <p class="margin-bottom-10">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Cosby sweater eu banh mi, qui irure terry richardson ex squid Aliquip placeat salvia cillum iphone.</p>
                  <p><a class="more" href="javascript:;">Read more <i class="icon-angle-right"></i></a></p>
                </div>
              </div>
              <div class="tab-pane row fade" id="tab-2">
                <div class="col-md-9 col-sm-9">
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia..</p>
                </div>
                <div class="col-md-3 col-sm-3">
                  <a href="assets/temp/photos/img10.jpg" class="fancybox-button" title="Image Title" data-rel="fancybox-button">
                    <img class="img-responsive" src="../../assets/frontend/pages/img/photos/img10.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="tab-pane fade" id="tab-3">
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
              </div>
              <div class="tab-pane fade" id="tab-4">
                <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
              </div>
            </div>
          </div>
          <!-- 结束 选项卡-->
        </div>                
        <!-- END TABS AND TESTIMONIALS -->

        <!-- BEGIN STEPS -->
        <div class="row margin-bottom-40 front-steps-wrapper front-steps-count-3">
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step1">
              <h2>Goal definition</h2>
              <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step2">
              <h2>Analyse</h2>
              <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 front-step-col">
            <div class="front-step front-step3">
              <h2>Implementation</h2>
              <p>Lorem ipsum dolor sit amet sit consectetur adipisicing eiusmod tempor.</p>
            </div>
          </div>
        </div>
        <!-- END STEPS -->

        <!-- BEGIN CLIENTS -->
        <div class="row margin-bottom-40 our-clients">
          <div class="col-md-3">
            <h2><a href="javascript:;">Our Clients</a></h2>
            <p>Lorem dipsum folor margade sitede lametep eiusmod psumquis dolore.</p>
          </div>
          <div class="col-md-9">
            <div class="owl-carousel owl-carousel6-brands">
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_1_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_1.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_2_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_2.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_3_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_3.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_4_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_4.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_5_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_5.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_6_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_6.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_7_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_7.png" class="color-img img-responsive" alt="">
                </a>
              </div>
              <div class="client-item">
                <a href="javascript:;">
                  <img src="../../assets/frontend/pages/img/clients/client_8_gray.png" class="img-responsive" alt="">
                  <img src="../../assets/frontend/pages/img/clients/client_8.png" class="color-img img-responsive" alt="">
                </a>
              </div>                  
            </div>
          </div>          
        </div>
        <!-- END CLIENTS -->
      </div>
    </div>

    <!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <!-- 开始对块底部 -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>关于我们</h2>
            <p>2342.</p>
          </div>
          <!-- 最后对块底部 -->

          <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2>联系人</h2>
            <address class="margin-bottom-40">
              35, Lorem Lis Street, Park Ave<br>
              California, US<br>
              Phone: 300 323 3456<br>
              Fax: 300 323 1456<br>
              Email: <a href="mailto:info@metronic.com">info@metronic.com</a><br>
              Skype: <a href="skype:metronic">metronic</a>
            </address>

            <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
              <h2>Newsletter</h2>
              <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
              <form action="#">
                <div class="input-group">
                  <input type="text" placeholder="youremail@mail.com" class="form-control">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- END BOTTOM CONTACTS -->

          <!-- BEGIN TWITTER BLOCK --> 
          <div class="col-md-4 col-sm-6 pre-footer-col">
            <h2 class="margin-bottom-0">Latest Tweets</h2>
            <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">Loading tweets by @keenthemes...</a>
          </div>
          <!-- END TWITTER BLOCK -->
        </div>
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- 开始页脚 -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- 开始版权 -->
          <div class="col-md-6 col-sm-6 padding-top-10">
            Powered by Jkpan tema 2008-15 <a href="javascript:;">© All Rights Reserved.</a> | <a href="javascript:;">粤ICP备16002742号</a>
          </div>
          <!-- 结束 版权 -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6">
            <ul class="social-footer list-unstyled list-inline pull-right">
              <li><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-skype"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-youtube"></i></a></li>
              <li><a href="javascript:;"><i class="fa fa-dropbox"></i></a></li>
            </ul>  
          </div>
          <!-- END PAYMENTS -->
        </div>
      </div>
    </div>
    <!--最终页脚 -->

    <!-- 负载javascripts底部,这将降低页面加载时间 -->
    <!-- 开始核心插件(所需的所有页面) -->
    <!--[if lt IE 9]>
    <script src="../../assets/global/plugins/respond.min.js"></script>
    <![endif]--> 
    <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="../../assets/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>
    <!-- 结束核心插件 -->

    <!-- 开始页面级别的javascript(只需要当前页面) -->
    <script src="../../assets/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="../../assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->

    <!-- BEGIN RevolutionSlider -->  
    <script src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script> 
    <script src="../../assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script> 
    <script src="../../assets/frontend/pages/scripts/revo-slider-init.js" type="text/javascript"></script>
    <!-- END RevolutionSlider -->

    <script src="../../assets/frontend/layout/scripts/layout.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            RevosliderInit.initRevoSlider();
            Layout.initTwitter();
            //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
            //Layout.initNavScrolling(); 
        });
    </script>
    <!-- 结束页面级别的javascript -->
</body>
<!-- END BODY -->
</html>